.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--grey-color);
}

.footer__logotipo {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
}


.buttons__container {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
}
