.buttons__container {
  display: flex;
  width: 100%;
  gap: .8rem;
  flex-direction: column;
  align-items: center;
}

.buttons__container input[type="button"] {
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;

  width: 100%;
  max-width: 40rem;
  height: 100%;

  padding: 1rem .4rem;
  border-radius: 32rem;

  transition: border-color ease-in-out .2s, background-color ease-in-out .2s, color ease-in-out .3s;
}

.button__login {
  background-color: transparent;
  border: solid .1rem #b1b1b1;
  color: #b1b1b1;
}

.button__login:hover {

  background-color: #ff640a;
  border: solid .1rem #ff640a;
  color: #fff;
}

.button__login:disabled {
  background-color: transparent;
  border: solid .1rem #b1b1b1;
  color: #b1b1b1;
  cursor: not-allowed;
  opacity: .5;
}

.button__cancel {
  background-color: transparent;
  border: none;
  color: #ff640a;
}
