@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {

  /* variáveis de cores */
  --white-text: #fff;
  --background-nav: #000;
  --background-body: #0e0e0e;
  --primary-color: #ff640a;
  --grey-color: #b1b1b1;

  /* Fonte */
  --font-lato: "Lato";
}
