* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--font-lato), "Helvetica Neue", helvetica, sans-serif;
  line-height: 1.35;
}

body {
  color: var(--white-text);
  background-color: var(--background-body);
  -webkit-font-smoothing: antialiased;
  overflow-anchor: none;
  font-size: 1.6rem;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  justify-content: space-between;

}


nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-nav);
  height: 100%;
  max-height: 7.2rem;
}

svg {
  width: 100%;
  fill: var(--primary-color);
}


section {
  width: 100%;
  max-width: 72rem;
  height: 100%;
  display: flex;
  align-items: center;


}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2.4rem;
  padding: 2.4rem 24rem;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 2.4rem;
  padding: .8rem;
  border-bottom: solid .1rem var(--grey-color);
}

li {
  padding: .4rem;
}

li::after {
  content: "|";
}

li:last-child::after {
  content: "";
}

li>span {
  padding-right: 2rem;
}

h2 {
  font-size: 2.4rem;
}

footer span {
  color: var(--grey-color);
  transition: color ease-in-out .2s;
  cursor: pointer;
}

footer span:hover {
  color: var(--white-text);
}

input[type="button"] {
  cursor: pointer;
}
